body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar-container {
    width: 100%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table td {
    vertical-align: top;
    padding: 10px;
    border: 1px solid #ddd;
}

.styled-table .col1,
.styled-table .col2 {
    width: 50%;
}

.styled-table .col1 img {
    max-width: 100%;
    height: auto;
    display: block;
}

.styled-table .col2 h1 {
    font-size: 1.5em;
    margin: 0 0 20px;
}

.styled-table .col2 iframe {
    width: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .styled-table {
        display: block;
    }

    .styled-table .col1,
    .styled-table .col2 {
        width: 100%;
        display: block;
    }

    .styled-table .col2 iframe {
        height: 300px; /* Default height for mobile view */
    }
}
